*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:70%;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.container>*{
    width: calc(100% / 3 - 10px + 10px/3);
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 100px 0 100px 0;
}

.container>*>*{
    text-align: center;
}

.container>*>*:nth-child(1){
    order: 2;
}
.container>*>*:nth-child(2){
    order: 1;
}
.container>*>*:nth-child(3){
    order: 3;
}

.container img{
    width: 100%;
    object-fit: cover;
}